<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <context:component-scan
        base-package="com.adrianodts.springframework.xmlconfiguration" /> -->

    <bean id="myBean" class="com.adrianodts.springframework.xmlconfiguration.MyBean">
        <!-- <property name="message" reference value="Hey I am here!!" /> -->
        <constructor-arg name="message" value="Hey I am here in production environment!!" />
    </bean>

</beans>